@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&display=swap');

body{
    background-color: #5e228b57;
}

h1{

    font-family: 'Handjet', cursive;
    font-size: 2.5em;
    color: blueviolet;
}
